.about-page{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: #e1e1e1;
    gap: 4.1875rem;
}

.about-page-img{
    width: 27.5625rem;
    height: 34rem;
    object-fit: cover;
}

.about-page-description{
    width: 35%;
    font-size: 1.125rem;
    line-height: 1.75rem;
    padding: 0 2rem;
}