.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 10rem; /* Start with smaller height */
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    color: #e1e1e1;
    background-color: #2941B5;
}


.footer-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    color: #e1e1e1;
}

