
button{
    background-color: transparent;
    border: none;
    color: inherit;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 8px 16px;
    display: inline-block;
}

nav{
    display: flex;
    width: 100vw;
    justify-content: space-between;

}

.home-icon{
    width: 85.161px;
    height: auto;
}

.nav-container{
    display: inherit;
    
}