button{
    background-color: transparent;
    border: none;
    color: inherit;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: inline-block;
}

nav{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 100%;
    justify-content: space-between;
    gap: calc(2rem + 1vw);
    z-index: 1000;
    background-color: white;


}



.home-icon{
    width: 85.161px;
    height: auto;
}

.nav-container{
    display: flex;
    font-weight: 500 !important;
}

