html{
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: #2941B5;
  color: #2941B5;
  background-color: #FFFFFF;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;

}


body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;


  min-width: 320px;
  min-height: 100vh;
}


