@font-face {
  font-family: 'Jost';
  src: url('/fonts/Jost.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal italic;
}



body{
  font-family: 'Jost';
  line-height: 1.5;
  font-weight: 800;

  color-scheme: #2941B5;
  color: #2941B5;
  background-color: #FFFFFF;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;

  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  
    width: 100%;
    height: 100%;

}




